/* #002795 */

* { box-sizing: border-box;}
*,
*:before,
*:after {
  box-sizing: inherit;
}

#wrapper {
	position: relative;
	min-height: 100%;
}
.greyscale {
	-webkit-transition: all .4s ease-out 0.1s;
	-moz-transition: all .4s ease-out 0.1s;
	-o-transition: all .4s ease-out 0.1s;
	transition: all .4s ease-out 0.1s;
	filter: grayscale(100%); /* Current draft standard */
    -webkit-filter: grayscale(100%); /* New WebKit */
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%); 
    -o-filter: grayscale(100%); /* Not yet supported in Gecko, Opera or IE */ 
    filter: gray; /* IE */
    -webkit-filter: grayscale(1); /* Old WebKit */
}
.greyscale:hover {
	filter: none;
	-webkit-filter: none;
	-moz-filter:none;
	-ms-filter:none;
	-o-filter:none;
}
.fullheight {
	height:100%;
}
a {
	text-decoration: none;
	
}

.transparent {
	opacity: 0.5;
	transition: opacity .35s ease-in-out;
	-moz-transition: opacity .35s ease-in-out;
	-webkit-transition: opacity .35s ease-in-out;
	-o-transition: opacity .35s ease-in-out;
}
nav:hover {
	background: rgba(238, 238, 238, 1);
	-webkit-transition: all .4s ease 0s;
	-moz-transition: all .4s ease 0s;
	-o-transition: all .4s ease 0s;
	transition: all .4s ease 0s;
}

nav {
	position: fixed;
	top:0px;
	left:0px;
	background: rgba(238, 238, 238, 0.5);
	height:60px;
	z-index: 5;
	width:100%;
	line-height: 59px;
	font-size: 1em;
	opacity:1;
	box-shadow: 0px 3px 2px -2px #555;
	text-align: right;
	-webkit-transition: all .4s ease 0s;
	-moz-transition: all .4s ease 0s;
	-o-transition: all .4s ease 0s;
	transition: all .4s ease 0s;
}

nav.nav_waypoint {
	height:40px;
	line-height: 39px;
	background: rgba(238, 238, 238, 1);
}

nav ul, #mobile-menu ul {
	list-style-type: none;
	margin:0;
}

nav ul li {
	display: inline-block;
	text-align: center;
	margin: 0;
}
nav ul li a {
	padding:0px 15px;
	display: block;
	text-align: center;
}
nav ul li a.active, #mobile-menu ul li a.active {
	font-weight: bold;
}
#mobile-menu ul li a.active {
	background:#fff;
}
nav ul li a:active, nav ul li a:visited, nav ul li a:link,
#mobile-menu ul li a,#mobile-menu ul li a:active, #mobile-menu ul li a:active, #mobile-menu ul  li a:active{
	color:#333;
	-webkit-transition: all .4s ease-out 0.1s;
	-moz-transition: all .4s ease-out 0.1s;
	-o-transition: all .4s ease-out 0.1s;
	transition: all .4s ease-out 0.1s;
}
nav ul li a:hover,#mobile-menu ul li a:hover {
	background:#fff;
}

/* Slidebar Nav */
#mobile-menu {
	position: fixed;
	right:0;
	top:0;
	bottom:0;
	width:250px;
	background: #eee;
	z-index: 9999999;
	overflow:auto;
	transition: transform 0.3s;
	transform:translateX(250px);
}
#mobile-menu.menu-open {
	transform:translateX(0px);
}

#mobile-menu ul li a {
	display: block;
	padding:20px;
	border-bottom: 1px solid white;
	margin:0;
}
#mobile-menu ul li {
	margin:0;
}
#close-x {
	cursor: pointer;
	text-align: center;
}

img.logo {
	position: absolute;
	left:0;
	top:0;
	height:100%;
}

img.hero-text { /*Logo im hero */
	position: absolute;
	left:50%;
	top:25vh;
	margin-bottom:-54px;
	margin-left:-319px;
	background:rgba(240,240,240,0);
	padding:10px 200px;
}

main {
	position: relative;
	margin-top:60vh;
	width: 100%;
	background: white;
	z-index: 1;
	min-height: 200px;
	padding-top:2em;
}
.boxshadow {
	box-shadow: 0px 0px 4px #555;
}
.project-image-container {
	position: relative;
	height:250px;
	border: 1px solid darkgrey;
	padding:8px;
	margin-bottom: 1rem;
}
.projectx {
	background-size: cover;
	background-position: 50% 50%;
	height:100%;
	width: 100%;
	-webkit-transition: all .4s ease-out 0s;
	-moz-transition: all .4s ease-out 0s;
	-o-transition: all .4s ease-out 0s;
	transition: all .4s ease-out 0s;
}

.project1 {	background-image:url(../images/projekte/1.jpg);}
.project2 {	background-image:url(../images/projekte/2.jpg);}
.project3 {	background-image:url(../images/projekte/3.jpg);}
.project4 {	background-image:url(../images/projekte/4.jpg);}

.project-image-container p {
	opacity: 1;
	position: absolute;
	bottom:8px;
	left:8px;
	right:8px;
	margin:0;
	padding:1.5rem;
	background:rgba(0,0,0,0.6);
	color:white;
	-webkit-transition: all .4s ease-out 0s;
	-moz-transition: all .4s ease-out 0s;
	-o-transition: all .4s ease-out 0s;
	transition: all .4s ease-out 0s;
}
.project-image-container p:hover, .projectx:hover > p{
	opacity: 0;

}
.projectx:hover {
	background-position: 50% 40%;
}
.project-image {
	width:100%;
	height:100%;
	object-fit: cover;
}
.headline {
	color:rgba(30,30,30,0.8);
	text-shadow: 1px 1px 1px #fff, 0 0 0 #000, 1px 1px 1px #fff;
}

#hero {
	background:url(../images/az3.jpg);
	position: fixed;
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	top:0px;
	left:0px;
	width:100%;
	height:60vh;
	z-index: -100
}

#team-hero {
	position: relative;
	height:60vh;
	width: 100%;
	background:url(../images/1.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: 50% 0;
	margin:2.5rem 0;
	box-shadow: inset 0px 0px 4px #555;
}
#team-hero h2 {
	color:#eee;
	text-shadow: 0px 0px 4px #666;
	position: absolute;
	top:50%;
	text-align: center;
	width:100%;
	height:100px;
	margin-top:-50px;
	line-height: 100px;
}

footer {
	background: #303030;
	min-height:80px;
}
footer a {
	color:#bbb;
}
footer a:hover {
	color:#fff;
}
footer p {
	margin:0;
	color:#aaa;
	line-height: 80px;
	font-size: 1.4rem;
}
footer p i.fa {
	color:#ddd;
	margin:0 8px;
	font-size: 1.8rem;
}
footer img {
	float:left;
	margin-right:3rem;
	margin-top:10px;
}
div.footer-c {
	height:24px;
	background:#101010;

}
div.footer-c p {
	font-size: 1rem;
	line-height: 24px;
	color:#666;
}
#scrolltotop {
	display: none;
	cursor: pointer;
	font-size: 25px;
	line-height: 20px;
	z-index: 9999;
	position: fixed;
	padding:8px 11px;
	opacity: 0.5;
	background:#666;
	bottom:50px;
	right:50px;
	color:#fff;
}
#scrolltotop:hover {
	opacity: 0.8;
}

@media (max-width:951px){
	footer span {
		display: block;
	}
	footer p {
		line-height: 4rem
	}
	footer img {
		float:none;
	}
	#scrolltotop {
		right:30px;
	}
	footer p i.fa {
		margin-left:0;
	}
	span.last_span {
		margin-bottom:10px;
	}
}

.onlymobile {display:none;}
a.menu-bar {
	display: block;
	height:100%;
}

ul.menu-bar, ul.menu-bar li {
	background: none;
	height:100%;
	text-align: right;
}
ul.menu-bar li a {
	margin-right:10%;
}
ul.menu-bar li a, ul.menu-bar li a:hover{
	background:none;
	color:#333;
}

ul.onlymobile.menu-bar li {
	cursor: pointer;
}

#intro_kontaktformular {
	text-align: center;
	cursor: pointer;
	margin:3.5rem 0;
}
#intro_kontaktformular:hover > hr {
	border-color:#002795;
}
#intro_kontaktformular hr, #intro_kontaktformular p {
	margin:0;
	-webkit-transition: all .4s ease-out 0.1s;
	-moz-transition: all .4s ease-out 0.1s;
	-o-transition: all .4s ease-out 0.1s;
	transition: all .4s ease-out 0.1s;
}
#intro_kontaktformular i {
	color:#002795;
}
#kontaktformular {
	display:none;
}
#googlemaps {
	height:350px;
	border:1px solid lightgrey;
}

@media (max-width: 720px) {
	.onlymobile {display:block;}
	.notmobile {display: none}

	nav ul li {
		display: block;
	}

	nav ul li a {
		margin: 0;
	}
	img.logo {
		left: 10%;
	}
	.notmobile690 {display: none}
}

@media (max-width: 399px) {
	img.logo {
		left: 10px;
	}
	ul.menu-bar li a {
		margin-right:10px;
	}
	.notmobile400 {display: none}

}
@media (max-width: 550px) {
	img.logo {
		left: 7%;
	}
	ul.menu-bar li a {
		margin-right:7%;
	}
}
@media (max-height: 430px ) {
	main {
		margin-top: 85vh;
	}

	#hero,
	#team-hero {
		height:85vh;	
	} 
	
}
@media (max-height: 260px ) {
	.hero-text {
		display: none;
	}
}